<% layout('/layouts/boilerplate') %>



   <style>
    body{
      background-color:#BEE9E8;
    }
   .col-7{
    background-color: #1A535C ;
   }
    .border border-primary{
      border-color: #BEE9E8;
    }
    .card-title {
      color: #F7FFF7;
    }
    .card-q{
      color: #F7FFF7;
    }
    .badge{
      background-color: #1A535C;
      color: #F7FFF7;
    }
    .bg{
      background-color: #1A535C;
    }
    .main{
      font-family: 'REM', sans-serif;
      color:#1A535C;
    }
    .card-text{
      font-family: 'Anuphan', sans-serif;
      font-size: 15px;
    }
    .card-title{
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
    }
    
   </style>


</br>

<center> <h1 class="main">ABOUT US</h1> </center>
</br>

  <div class="m-3">  
   <h3>  <span class="badge">VISION</span> </h3>
   <p class="card-text">Preeminent Teams>Remarkable Experience>Powerful Solutions</p>

   <h3>  <span class="badge">MISSION</span> </h3>
   <p class="card-text">We are commited to provide best in class solutions
     that drive success and positive change for our clients,
     our people, and our communities.</p>
  </div>    
</div>
</br>

<center> <h2 class="main">CORE VALUES</h2> </center>

</br>

  <div class="row justify-content-evenly">
    <div class="col-4">
          <div class="card text-white bg mb-4">
              <div class="card-body"> <center>
                  <h5 class="card-title">Collaboration</h5>
                  <p class="card-text">We support each other, the people we serve and the people who make our work possible.
                    We believe in the power of working together. </p>
                </center>
              </div>
          </div>
          </div>
  
  <div class="col-4">
    <div class="card text-white bg mb-4">
      <div class="card-body"> <center>
            <h5 class="card-title">Technical Excellence </h5>
            <p class="card-text">Always strive for the highest standard of technical knowledge,
                creativity and execution.</p>
        </center>
        </div>
    </div>
    </div>
</div>
</br>

<center>
<div class="col-4">
  <div class="card text-white bg mb-4">
    <div class="card-body"> <center>
          <h5 class="card-title">Fun</h5>
          <p class="card-text">Enjoy what we do by creating a sense of community, lasting friendships
            and fulfilling experience.</p>
        </center>
      </div>
  </div>
  </div>
</center>
</br>


<div class="row justify-content-evenly">
<div class="col-4">
      <div class="card text-white bg mb-4">
          <div class="card-body"> <center>
              <h5 class="card-title">Responsibility</h5>
              <p class="card-text">Lead by example, act with integrity value the health, safety and well-being of others
                 and be accountable to the relations we build.</p></center>
          </div>
      </div>
      </div>

<div class="col-4">
<div class="card text-white bg mb-4">
  <div class="card-body"><center>
        <h5 class="card-title">Entrepreneurial Spirit</h5>
        <p class="card-text">Empower each other to take ownership of opportunities that lead to growth, innovation and success.</p>
    </center>
    </div>
</div>
</div>
</div>
