<% layout('/layouts/boilerplate') %>



  <h2 class="main text-center mt-3">ABOUT US</h2>

  </br>

  <div class="container py-3">
    <div class="row justify-content-evenly">
      <h3> <span class="badge bg-success">VISION</span> </h3>
      <p class="card-text">Preeminent Teams>Remarkable Experience>Powerful Solutions</p>

      <h3> <span class="badge bg-success">MISSION</span> </h3>
      <p class="card-text">We are commited to provide best in class solutions
        that drive success and positive change for our clients,
        our people, and our communities.</p>
    </div>

  </div>
  </div>
  </br>


  <h2 class="main text-center">CORE VALUES</h2>


  </br>

  <div class="row justify-content-evenly">
    <div class="col-md-4 mb-4">
      <div class="card text-white">
        <div class="card-header bg-info bg-gradient">
          <h5 class="card-title text-center ">Collaboration</h5>
        </div>
        <div class="card-body bg-success bg-gradient">

          <p class="card-text">We support each other, the people we serve and the people who make our work possible.
            We believe in the power of working together. </p>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white mb-4">
        <div class="card-header text-center bg-info bg-gradient">
          <h5 class="card-title ">Technical Excellence </h5>
        </div>
        <div class="card-body bg-success bg-gradient">

          <p class="card-text">Always strive for the highest standard of technical knowledge,
            creativity and execution.</p>

        </div>
      </div>
    </div>
  </div>
  </br>
  <center>
    <div class="col-md-4">
      <div class="card text-white mb-4 ">
        <div class="card-header text-center bg-info bg-gradient">
          <h5 class="card-title ">Fun</h5>
        </div>
        <div class="card-body bg-success bg-gradient">

          <p class="card-text">Enjoy what we do by creating a sense of community, lasting friendships
            and fulfilling experience.</p>

        </div>
      </div>
    </div>
  </center>


  </br>


  <div class="row justify-content-evenly">
    <div class="col-md-4">
      <div class="card text-white mb-4">
        <div class="card-header text-center bg-info bg-gradient">
          <h5 class="card-title">Responsibility</h5>
        </div>
        <div class="card-body bg-success bg-gradient">

          <p class="card-text">Lead by example, act with integrity value the health, safety and well-being of others
            and be accountable to the relations we build.</p>

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white mb-4">
        <div class="card-header text-center bg-info bg-gradient">
          <h5 class="card-title">Entrepreneurial Spirit</h5>
        </div>
        <div class="card-body bg-success bg-gradient">

          <p class="card-text">Empower each other to take ownership of opportunities that lead to growth, innovation
            and success.</p>

        </div>
      </div>
    </div>
  </div>