<% layout('/layouts/boilerplate') %>
  </br>
  <style>
    body{
      background-color:#BEE9E8;
    }
   .col-7{
    background-color: #1A535C ;
   }
    .border border-primary{
      border-color: #BEE9E8;
    }
    .card-title {
      color: #F7FFF7;
    }
    .card-q{
      color: #F7FFF7;
    }
    
   </style>
  </br>
  <center>
   <div class="col-7">
    <div class="border">
      <div class="card-body text-primary">
            <h1 class="card-title">Frequently Asked Questions</h1>
            <p class="card-q">Below are some of the commonly asked questions regarding laboratory services.</p>
        </div>
    </div>
</div>
</center>
 
</br>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Why are lab tests important?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Laboratory tests are among the most common and important tools of modern medicine. 
          Results from clinical laboratory tests contribute to the majority of health care decisions. 
          They provide information about your health status and risk factors and can be used to determine a diagnosis and guide therapy.
          Many of the decisions you and your health care provider make about your care are based on results of laboratory tests.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          How is a blood sample collected?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Typically, a blood sample is taken by inserting a needle into a vein, usually in your arm. 
          Before your blood is drawn, an elastic band is tied around your upper arm to increase blood in the veins, and the puncture location is wiped clean with an antiseptic.
           A blood draw using a needle may cause a temporary sting. The blood draw normally lasts for less than a minute. 
          Sometimes a blood sample is collected by puncturing the tip of a finger and drops of blood are collected onto a test pad, filter paper, or into a small tube. </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          How is a urine sample collected?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Most urine samples are collected by urinating into a clean container provided by the lab. One to two ounces of urine is typically needed for testing, 
          and a sufficient sample is required for accurate results. Urine samples usually can be collected at any time, but a first morning sample may be requested because 
          it is more concentrated and more likely to detect abnormalities. For tests requiring a 24-hour urine sample, 
          all urine produced for 24 hours is collected at home and put into a large container that must be refrigerated during the collection process.</div>
      </div>
    </div>
  </div>

  <div class="accordion accordion-flush" id="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
         Do I Have To Fast Before My Blood Tests?
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordion">
        <div class="accordion-body">
          You need to fast if your doctor has ordered a fasting test. This means that you cannot eat anything and may only drink clear water for 12-14 hours prior to your test. 
          You should continue to take your medications, unless otherwise instructed by your doctor. Some common fasting tests include: fasting glucose, fasting lipid panel, 
          fasting metabolic panel, fasting cholesterol, HDL or triglyceride. If you are uncertain about whether or not you should fast, please contact your healthcare provider.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          How Long Should I Fast?
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordion">
        <div class="accordion-body">
          If your doctor did not tell you how long to fast, you should not eat anything and only drink clear water for approximately 12-14 hours prior to the test.
          </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
          I Did Not Fast For A Fasting Test. Can I Have My Blood Drawn Anyway? 
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordion">
        <div class="accordion-body">
          Because certain test results may be influenced by what you eat or drink, we prefer that you do not have your blood drawn if your tests were ordered as fasting.</div>
      </div>
    </div>
  </div>
  <div class="accordion accordion-flush" id="accordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
        How Long Should I Fast?
      </button>
    </h2>
    <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordion">
      <div class="accordion-body">
        If your doctor did not tell you how long to fast, you should not eat anything and only drink clear water for approximately 12-14 hours prior to the test.
        </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
        I Did Not Fast For A Fasting Test. Can I Have My Blood Drawn Anyway? 
      </button>
    </h2>
    <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordion">
      <div class="accordion-body">
        Because certain test results may be influenced by what you eat or drink, we prefer that you do not have your blood drawn if your tests were ordered as fasting.</div>
    </div>
  </div>
</div>
