<% layout('/layouts/boilerplate') %>

    <div class="container mt-3 col-lg" id="hero">

        <div class="row align-items-start text-center">
            <div class="col-md-5 mt-5 py-3" id="heroText">
                <h1 style="color: #047775; margin-top: 50px;">
                    Medical Examination And Updated Lab Result Online
                </h1>

                <p>Every patient needs an accurate lab results and we got it for you!</p>

                <a href="/About" class="btn btn-outline-success bg-gradient">Know More About Us</a>
            </div>
            <div class="col-md-5 py-3 m-3 m-auto rounded" id="hero-image">
                <img class="rounded img img-fluid" src="../../../../images/hero.jpg" alt="hero-image">
            </div>
        </div>



    </div>
    <!-- SERviceS -->

    <div class="container">
        <div class="row mb-5">
            <div class="col-12 col-sm-6 col-md-3 m-auto mb-2">
                <!-- card starts here -->
                <div class="card shadow">
                    <div class="container">
                        <i class="primaryColor fa fa-thermometer-quarter" aria-hidden="true"></i>

                    </div>
                    <div class="card-body">
                        <h3 class="text-center">Modern Equipment</h3>
                        <hr class="mx-auto w-75">
                        <p class="roww">
                            Develop state-of-the-art infrastructure and operational capabilities to provide superior
                            testing
                            and support services.
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->

            <div class="col-12 col-sm-6 col-md-3 m-auto mb-2">
                <!-- card starts here -->
                <div class="card shadow">
                    <div class="container">
                        <i class="primaryColor fa fa-cog" aria-hidden="true"></i>

                    </div>
                    <div class="card-body">
                        <h3 class="text-center">Exterprise</h3>
                        <hr class="mx-auto w-75">
                        <p class="roww">
                            Deliver reliable, timely, accurate and cost effective laboratory services and results
                            reporting.
                        </p>

                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->

            <div class="col-12 col-sm-6 col-md-3 m-auto mb-2">
                <!-- card starts here -->
                <div class="card shadow">
                    <!-- <i class="primaryColor fa fa-user-md " aria-hidden="true"></i> -->
                    <div class="container me-auto">
                        <i class=" fa fa-duotone fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                        <h3 class="text-center">Experience</h3>
                        <hr class="mx-auto w-75">
                        <p class="roww">
                            Maintain a culture of continuous improvement in quality, safety, patient and family
                            experience,
                            team development and team well-being.
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->

        </div>




        <!-- SERviceS -->
        <h1 class="heading">LABORATORY SERVICES</h1>
        </br>
        <div class="container">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="../../../../images/1.png" alt="Card image">
                </div>
                <div class="card">
                    <img class="card-img-top" src="../../../../images/2.png" alt="Card image">
                </div>
            </div>
        </div>



        </br>


        <!-- PArTNERS -->
        <div class="container-fluid mb-3 py-3" id="partnersMain">
            <div class="container-fluid">
                <div class="row m-3 text-center" id="partners">
                    <div class="col-md-4">
                        <img src="../../../../images/phic.png" alt="PHIC IMAGE">
                    </div>
                    <div class="col-md-4">
                        <img src="../../../../images/maxicare.png" alt="maxicare">
                    </div>
                    <div class="col-md-3 ">
                        <img src="../../../../images/DOH-Logo.png" alt="DOH">
                    </div>
                </div>
            </div>
        </div>