<% layout('/layouts/boilerplate') %>

    <div class="container col-md-8 mt-5">
        <div class="col-lg-12">
            <h1 class="fw-bold text-center" style="color: hsl(218, 81%, 75%)">
                View Your Results Here
            </h1>
        </div>
        <form action="" class="">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Input Reference No" />
                <button class="btn btn-warning input-group-text">Search</button>
            </div>

        </form>
    </div>