<% layout('/layouts/boilerplate') %>

    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <input type="text" class="form-control" placeholder="Input Reference No">
                <h3>Result Form</h3>

            </div>
        </div>
    </div>