<% layout('/layouts/adminboilerplate') %>

    <div class="container">
        <div class="row">

            <div class="col-md-4 py-2 mt-5">
                <div class="card text-center">
                    <div class="card-header ">
                        <h1>2</h1>
                    </div>
                    <div class="card-body ">
                        <h6><a href="/Test" class="btn">Number of Test</a></h6>
                    </div>
                </div>
            </div>

            <div class="col-md-4 py-2 mt-5">
                <div class="card text-center">
                    <div class="card-header ">
                        <h1>2</h1>
                    </div>
                    <div class="card-body">
                        <h6><a href="/Clients" class="btn">Number of Clients</a></h6>
                    </div>
                </div>
            </div>

        </div>
    </div>