<% layout('/layouts/adminboilerplate') %>

    <div class="card mt-3">
        <div class="card-header">
            <h4>User Manager</h4>
            <a href="/Usermanager/new-userForm" class="btn btn-primary">Add User</a>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>License</th>
                    <th>UserName</th>
                    <th>Password</th>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Role</td>
                    <td>License</td>
                    <td>Username</td>
                    <td>Password</td>
                </tr>
            </table>
        </div>
    </div>