<!-- Side navigation -->
<div class="sidenav">

    <a href="/MyAccount">My Account</a>
    <a href="/Dashboard">Dashboard</a>
    <!-- <a href="/Testtype">List Test</a> -->
    <a href="/Allcustomer">Customer</a>
    <!-- <a href="/Allprice">Price List</a> -->

    <a class="dropdown-btn">
        Test
        <i class="fa fa-caret-down"></i>
    </a>
    <div class="dropdown-container">
        <a href="/Test">Add Test</a>

    </div>
    <a href="/">User Manager</a>
    <!-- <a href="/Process">Process Customer Test</a> -->

</div>