<!-- Side navigation -->
<div class="sidenav">


    <a href="/Dashboard">Dashboard</a>

    <!-- <a href="/Allcustomer">Patient List</a> -->

    <a href="/Allcustomer">Patient List</a>
    <a href="/Allcustomer/new">Patienr Registration</a>


    <a class="dropdown-btn">
        Test Type
        <i class="fa fa-caret-down"></i>
    </a>
    <div class="dropdown-container">
        <a href="/Test">Add Test</a>

    </div>
    <a href="/Usermanager">User Manager</a>
    <!-- <a href="/MyAccount">My Account</a> -->


</div>