<!-- Side navigation -->
<div class="sidenav">
    <a href="/Admin">Dashboard</a>
    <a href="/Testtype">List Test</a>
    <a href="/Allcustomer">Customer</a>
    <a href="/Allprice">Price</a>
</div>